#isso-thread {
  margin-bottom: 5rem;
}

#isso-thread .textarea {
  background-color: #f2f0ec;
  border-radius: 0;
  color: black;
}

@media (max-width: 52em) {
  #isso-thread {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
  background-color: #f2f0ec;
  border-radius: 0;
  font-family: 'Source Code Pro', monospace;
}

.isso-comment > div.text-wrapper > .isso-comment-footer a {
  color: #555;
}

.load_hidden {
  font-weight: bold;
  color: #555;
}

.load_hidden:hover {
  color: #111111 !important;
  text-shadow: #aaaaaa 0 0 1px !important;
}

.input-wrapper > input[name="email"], .input-wrapper > input[name="website"] {
  display: none;
}

.isso-comment .text {
  word-wrap: break-word;
}
