{{ $baseurl := .Site.BaseURL }}{{ $dateMissing := eq .Date.Year 1}}
<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="meta">
{{ if eq $dateMissing false }}
    <span class="key">published on</span>
    <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
{{ end }}
{{ with .Params.categories }}
    <span class="key">{{ if eq $dateMissing true }}published {{ end }}in</span>
    <span class="val">
{{ range . }}
        <a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a>
{{ end }}
    </span>
{{ end }}
{{ with .Params.tags }}
    <br>
    <span class="key">tags:</span>
    <span class="val">
{{ range . }}
        <a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a>
{{ end }}
    </span>
{{ end }}
  </div>
  <h1 class="headline" itemprop="headline">{{ .Title }}</h1>
  <section class="body" itemprop="articleBody">
    {{ .Content }}
  </section>
</article>

<script data-isso="{{ .Site.Params.Isso }}"
        data-isso-lang="en"
        data-isso-reply-to-self="false"
        data-isso-require-email="false"
        data-isso-max-comments-top="inf"
        data-isso-max-comments-nested="inf"
        data-isso-avatar="false"
        src="{{ .Site.Params.Isso }}/js/embed.min.js"></script>
<section id="isso-thread"></section>
<link rel="stylesheet" href="{{ "/css/isso-fix.css" | absURL }}" type="text/css">
