</div>

<br>
<br>

<footer>
  <div class="container">
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="vertical-align:middle" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/></a>
    <br>
    <span class="copyright">&copy; {{ .Site.Copyright }}</span>
  </div>
</footer>

</body>
</html>
