<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
<meta charset="utf-8">
<meta name="description" content="{{ if eq .Description "" }}{{ .Site.Params.description }}{{ else }}{{ .Description }}{{ end }}">
<meta name="author" content="{{ .Site.Params.author }}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ $isHomePage := eq .Title .Site.Title }}{{ .Title }}{{ if eq $isHomePage false }} - {{ .Site.Title }}{{ end }}</title>
<link rel="stylesheet" href="{{ "/css/style.css" | absURL }}" type="text/css">
<link rel="shortcut icon" href="{{ "/img/favicon.ico" | absURL }}" type="image/x-icon">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700" type="text/css">
<link rel="stylesheet" type="text/css" href="/css/asciinema-player.css" />
<script src="/js/asciinema-player.js"></script>
</head>
<body>

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{{ "/js/mathjax-fix.js" | absURL }}"></script>
<link rel="stylesheet" href="{{ "/css/mathjax-fix.css" | absURL }}">

<link rel="stylesheet" href="/css/railscasts.css">
<script src="{{ "/js/highlight.pack.js" | absURL }}"></script>
<script>
hljs.configure({languages: []});
hljs.initHighlightingOnLoad();
</script>

<header>
  <div class="container clearfix">
    <a class="path" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
  </div>
</header>

<div class="container">
