<h1 class="site-title">
  <span class="base08">t</span><span class="base09">i</span><span class="base0a">t</span><span class="base0b">l</span><span class="base0c">e</span>
</h1>

<div style="text-align: center;">
  Sample text.
</div>
<br>
<div style="text-align: center;">
  <a href="{{ "/index.xml" | absURL }}"><img src="{{ "/img/feed-icon.png" | absURL }}" style="vertical-align:middle"></a>
</div>
