{{ partial "header.html" . }}

<main role="main" class="page-not-found">

  <h1>
    <span class="base05">(╯° °）╯︵ ┻━┻</span>
  </h1>

  <h2>
    not found
  </h2>

</main>

{{ partial "footer.html" . }}
